@import "reset.scss";

$color-main: #2b2d42;
$color-title: #ef2d56;
$color-accent: #ed7d3a;
$color-alt: #2fbf71;
$color-alt-light: #8cd867;

$indent: 15px;

body {
  font: 14pt/1.6 'Alegreya Sans', sans-serif;
  max-width: 800px;
  margin: 1em auto 0;
  padding: 0 (2 * $indent);
  color: $color-main;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

em {
  font-style: italic;
  letter-spacing: .5px;
  color: $color-alt;
}
strong {
  font-weight: bold;
  color: $color-accent;
}

header {
  background: $color-title;
  padding: 3em 1em;
  margin: -2em -3em 2em;
  transform: rotate(-2deg);

  * {
    color: white;
  }
  > * {
    transform: rotate(.5deg);
  }
  h1 {
    font-size: 5em;
    margin: 0;
    padding: .2em .5em .3em;
    background: linear-gradient(to left, transparent 0%, $color-main 30%, transparent 100%);
  }
  p {
    font-size: 1.5em;
    letter-spacing: .1ex;
    margin: -2em 0 0 1.7em;
  }
  .kern {
    letter-spacing: -.1em;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    animation: blur .5s;
  }
}

main {
  a {
    color: $color-accent;
    text-decoration: none;
    border-bottom: 2px dotted;

    &:hover {
      color: $color-title;
      border-bottom-style: solid;
    }
  }

  p {
    + p {
      margin-top: .5em;
    }
  }

  h2, h3 {
    transform: rotate(-1deg);
    margin: .5em (-$indent) .25em;
  }
  h2 {
    font-size: 2em;
    color: $color-accent;
    em {
      font-style: normal;
      color: $color-title;
    }
  }
  h3 {
    font-size: 1.25em;
    color: $color-alt;
  }

  ul, ol {
    p + & {
      margin: .5em $indent;
    }
    ul, ol {
      margin: 0 0 0 (2 * $indent);
    }
  }
  li {
    font-weight: bold;
    li {
      font-weight: normal;
    }

    &:before {
      color: $color-alt;
      font-weight: bold;
      display: inline-block;
      margin-right: $indent;
    }
    &:nth-child(3n+1):before {
      color: $color-title;
    }
    &:nth-child(3n+2):before {
      color: $color-accent;
    }
  }
  ul {
    li {
      &:before {
        content: '–';
        transform: rotate(-10deg);
      }
    }
  }
  ol {
    counter-reset: ol;
    li {
      &:before {
        counter-increment: ol;
        content: counter(ol);
        transform: rotate(-5deg);
      }
    }
  }

  :hover {
    animation: blur .2s;
  }
}

footer {
  background: $color-accent;
  padding: 2em 3em;
  margin: 2em -3em 0;
  transform: rotate(-2deg);

  p {
    &, & * {
      color: white;
    }
    font-size: 2.5em;
  }

  &:hover {
    animation: blur .5s;
  }
}

@keyframes blur {
    0% { filter: blur(0px); }
   70% { filter: blur(3px); }
  100% { filter: blur(0px); }
}
