<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= config[:site_name] %> - <%= @item[:title] %></title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:700%7CAlegreya+Sans:400,400i,700,700i" >
</head>
<body>
  <header>
    <h1>Decentralizing the Semantic Web</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Let's put the <em>Web</em> back in the <em>Semantic Web</em>.</p>
  </footer>
</body>
</html>
