<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= h config[:site_name] %> - <%= h @item[:title] %></title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:700%7CAlegreya+Sans:400,400i,700,700i" >
</head>
<body>
  <header>
    <h1><a href="/">DeSe<span class="kern">mW</span>eb2017</a></h1>
    <p><a href="<%= h config[:venue][:site] %>"><%= h config[:venue][:name] %></a> workshop on Decentralizing the Semantic Web</p>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Let’s put the <em>“Web”</em> back in <em>“Semantic Web”</em>!</p>
  </footer>
</body>
</html>
